services:

  redis:
    restart: always
    image: redis:8.0.3
    container_name: redis
    command: redis-server --requirepass $REDIS_PASSWORD
    environment:
      - REDISCLI_AUTH=$REDIS_PASSWORD
    healthcheck:
      test: [ "CMD-SHELL", "redis-cli PING | grep PONG || (redis-cli PING && exit 1)" ]
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 10s
    volumes:
      - ./redis_data/:/data

  app:
    restart: always
    build: .
    container_name: app
    ports: [ "${PORT:-8080}:${PORT:-8080}" ]
    environment:
      REDIS_HOST: redis
    env_file: .env
    # Bind only files/dirs that you need for hot reloading
    # to avoid including unwanted files/dirs in the container
    # because Docker's order of operations dictates that
    # volume binding comes after .dockerignore parsing
    # and the COPY command in Dockerfile
    # https://stackoverflow.com/a/72485169/1148508
    # https://medium.com/nerd-for-tech/bigger-dockerignore-smaller-docker-images-49fa22e51c7
    volumes:
      - ./app:/src/app
      - ./run.py:/src/run.py
    depends_on:
      redis:
        condition: service_healthy
